/* ===================================================== */
/* BASICS. ESSENTIALS. */
/* ===================================================== */
body {
    /*    background-color: black;*/
    background-image: url("images/shgabb-background.png");
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Rw;
    max-width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: Rw;
    src: url(Raleway-Light.ttf) format('truetype');
}

@font-face {
    font-family: Rw-title;
    src: url(Raleway-SemiBold.ttf) format('truetype');
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Rw-title;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Rw-title;
}

progress {
    border: solid;
    border-width: 2px;
    border-color: white;
    width: 75%;
    height: 20px;
    background: darkgray;
    color: deepskyblue;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.35) inset;
}

    progress::-moz-progress-bar {
        background: deepskyblue;
    }

    progress::-webkit-progress-value {
        background: deepskyblue;
    }

    progress::-webkit-progress-bar {
        background: darkgray;
    }

.buffedProgress {
    animation: change-color 2s infinite;
    background: darkslategrey;
    color: red;
}

    .buffedProgress::-moz-progress-bar {
        animation: change-color2 2s infinite;
        background: red;
    }

    .buffedProgress::-webkit-progress-value {
        animation: change-color2 2s infinite;
        background: red;
    }

    .buffedProgress::-webkit-progress-bar {
        animation: change-color2 2s infinite;
        background: darkslategrey;
    }

/* Bar animations (supporting most browsers) */
@keyframes change-color {
    0% {
        color: red;
    }

    30% {
        color: orange;
    }

    100% {
        color: red;
    }
}

@keyframes change-color2 {
    0% {
        background: red;
    }

    30% {
        background: orange;
    }

    100% {
        background: red;
    }
}

/* ===================================================== */
/* TOP */
/* ===================================================== */
.topSquare {
    background-color: lightslategray;
    margin-left: auto;
    margin-right: auto;
    font-family: Rw-title;
}

@media only screen and (min-width: 768px) {
    .topSquare {
        max-width: 60%;
    }
}

.clickButton {
    background-color: blue;
    color: white;
    border-color: black;
    border-width: 5px;
    font-size: 24px;
    min-height: 64px;
    font-family: Rw-title;
}

@media only screen and (min-width: 768px) {
    .clickButton {
        min-height: auto;
    }
}

.currency {
    width: 32px;
    height: 32px;
    position: relative;
    bottom: -8px;
}

/* ===================================================== */
/* UPGRADES */
/* ===================================================== */
/* this contains the upgrade buttons */
.upgradeButtons {
    display: flex;
    flex-direction: row;
    text-align: center;
}

/* this is for a single upgrade button */
.maxButton {
    width: 32%;
    height: 20px;
    margin: 0px 1px 1px 1px;
    border: 2px solid black;
    background-color: lightgray;
    font-weight: bold;
    color: black;
    font-family: Rw-title;
}

@media only screen and (min-width: 768px) {
    .maxButton {
    }
}

.upgrade {
    text-align: center;
    margin: 0px 2px 4px 2px;
    border: 4px solid black;
    width: 48%;
    min-height: 98px;
    font-family: Rw;
    vertical-align: top;
}

    .upgrade:hover {
        filter: brightness(90%);
        transition: 0.2s;
    }

    .upgrade:active {
        filter: brightness(80%);
    }

@media only screen and (min-width: 768px) {
    .upgrade {
        width: 32%;
    }
}

@media only screen and (min-width: 1280px) {
    .upgrade {
        width: 24%;
    }
}

.upgradeHeader {
    font-size: 14px;
    font-family: Rw-title;
}

@media only screen and (min-width: 768px) {
    .upgradeHeader {
        font-size: 20px;
    }
}

.prestigeButton {
    /* background-color: palegoldenrod; */
    background-image: url("images/prestigebutton.png");
    background-size: 100% 100%;
    padding: 0px 16% 0px 16%;
    border: 3px solid gold;
    font-size: 18px;
    min-height: 120px;
    max-width: 1080px;
}

.ameliorerButton {
    width: 24%;
    min-height: 48px;
}

/* ===================================================== */
/* GEMS / ARTIFACTS / MINIGAMES */
/* ===================================================== */
.artifact {
    text-align: center;
    margin: 0px 0px 0px 0px;
    border: 4px ridge white;
    width: 6%;
    height: 160px;
    min-width: 140px;
    max-width: 320px;
    vertical-align: top;
    font-family: Rw;
}

    .artifact:hover {
        filter: brightness(90%);
        transition: 0.2s;
    }

    .artifact:active {
        filter: brightness(80%);
    }

.artifactLoadoutButton {
    width: 15%;
    min-width: 104px;
    height: 32px;
    white-space: nowrap;
    font-family: Rw;
}

/* ===================================================== */
/* STATS / ACHIEVEMENTS / SOCIAL */
/* ===================================================== */

/* sq1 social sq2 stats apparently */
.square {
    background-color: rgb(128, 128, 128, 0.7);
    border-color: black;
    border: 2px solid burlywood;
}

.square2 {
    background-color: rgb(128, 128, 128, 0.7);
    font-size: 18px;
}

.socsquare1 {
    background-color: rgb(128, 128, 128, 0.7);
    border-color: black;
    border: 2px solid burlywood;
    text-align: left;
    width: 100%;
    position: static;
}

@media only screen and (min-width: 768px) {
    .socsquare1 {
        position: absolute;
        text-align: right;
        width: 48%;
    }
}

.socsquare2 {
    background-color: rgb(128, 128, 128, 0.7);
    border-color: black;
    border: 2px solid burlywood;
    text-align: left;
    width: 100%;
    position: static;
}

@media only screen and (min-width: 768px) {
    .socsquare2 {
        text-align: left;
        width: 48%;
        margin-left: auto;
    }
}

.socheader {
    position: inherit;
}

@media only screen and (min-width: 768px) {
    .socheader {
        position: relative;
    }
}

.grayButton {
    background-color: lightgray;
    color: black;
    border-color: black;
    border: 2px solid darkgray;
    font-size: 18px;
    text-align: center;
    font-family: Rw;
}

    .grayButton:hover {
        filter: brightness(120%);
        transition: 0.3s;
    }

.settingButton, .settingButton2 {
    background-color: deepskyblue;
    color: black;
    border-color: darkblue;
    border: 2px solid darkgray;
    font-size: 20px;
    text-align: center;
    font-family: Rw;
    margin: 2px 2px 2px 2px;
    width: 48%;
    vertical-align: top;
    min-height: 78px;
}

    .settingButton:hover {
        filter: brightness(120%);
        transition: 0.3s;
    }

.settingButton2 {
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
    .settingButton {
        width: 24%;
    }
}

.playerProfile{
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .playerProfile {
        width: 67%;
    }
}

@media only screen and (min-width: 1280px) {
    .playerProfile {
        width: 50%;
    }
}