body {
/*    background-color: black;*/
    background-image: url("images/shgabb-background.png");
    background-size: cover;
    color: white;
    text-align: center;
}

.clickButton {
    background-color: blue;
    color: white;
    border-color: black;
    border-width: 5px;
    font-size: 24px;
}

.upgrade {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid white;
    width: 90%;
    min-height: 120px;
}

.square {
    background-color: rgb(128, 128, 128, 0.7);
}