body {
    background-color: black;
    color: white;
    text-align: center;
}

.clickButton {
    background-color: blue;
    color: white;
    border-color: black;
    border-width: 5px;
}

.upgrade {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid white;
    width: 50%;
}