/* 
    #2e269a    dark shgabb
    #01f8fd    light shgabb
*/

/* ===================================================== */
/* BASICS. ESSENTIALS. */
/* ===================================================== */
body {
    /*    background-color: black;*/
    background-image: url("../images/backgrounds/bg-normal.png");
    background-size: 100vw 100vh;
    image-rendering: pixelated;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Rw;
    max-width: 100%;
    overflow-x: hidden;
}

img {
    image-rendering: initial;
}

@media only screen and (min-width: 768px) {
    body {
        background-size: cover;
    }
}

@font-face {
    font-family: Rw;
    src: url(Raleway-Light.ttf) format('truetype');
}

@font-face {
    font-family: Rw-title;
    src: url(Raleway-SemiBold.ttf) format('truetype');
}

h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Rw-title;
}

progress {
    border: solid;
    border-width: 2px;
    border-color: white;
    width: 75%;
    height: 20px;
    background: darkgray;
    color: deepskyblue;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.35) inset;
}

    progress::-moz-progress-bar {
        background: deepskyblue;
    }

    progress::-webkit-progress-value {
        background: deepskyblue;
    }

    progress::-webkit-progress-bar {
        background: darkgray;
    }

.buffedProgress {
    animation: change-color 2s infinite;
    /* background: darkslategrey; */
    color: red;
}

    .buffedProgress::-moz-progress-bar {
        animation: change-color2 2s infinite;
        background: red;
    }

    .buffedProgress::-webkit-progress-value {
        animation: change-color2 2s infinite;
        background: red;
    }

    .buffedProgress::-webkit-progress-bar {
        animation: change-color2 2s infinite;
        background: darkslategrey;
    }

/* Bar animations (supporting most browsers) */
@keyframes change-color {
    0% {
        color: red;
    }

    30% {
        color: orange;
    }

    100% {
        color: red;
    }
}

@keyframes change-color2 {
    0% {
        background: red;
    }

    30% {
        background: orange;
    }

    100% {
        background: red;
    }
}

.progressYellow {
    color: yellowgreen;
}

    .progressYellow::-moz-progress-bar {
        background: yellowgreen;
    }

    .progressYellow::-webkit-progress-value {
        background: yellowgreen;
    }

.progressDim {
    color: dimgray;
}

    .progressDim::-moz-progress-bar {
        background: dimgray;
    }

    .progressDim::-webkit-progress-value {
        background: dimgray;
    }

.textBar span {
    position: absolute;
    display: inline-block;
    color: black;
    text-align: center;
    width: 100%;
    font-family: Rw-title;
}

.textBar {
    display: block;
    position: relative;
    width: 100%;
}

/* ad bar */
.adBar {
    background-image: linear-gradient(to right, #2D2D2D, #636363);
    width: 70%;
    height: 90%;
    float: left;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #04AA6D;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #04AA6D;
        cursor: pointer;
    }

.sectionBG {
    background-color: rgb(160, 160, 220, 0.1);
    border: 4px solid rgb(160, 160, 220, 0.2);
    border-radius: 16px;
}

.sectionSelection {
    border: 4px solid;
    border-radius: 4px;
    margin-right: 4px;
    padding: 0px 12px 0px 12px;
}

@media only screen and (min-width: 768px) {
    .sectionSelection {
        padding: 0px 30px 0px 30px;
        margin-right: 12px;
    }
}

/* ===================================================== */
/* TOP */
/* ===================================================== */
.gameName {
    width: 400px;
    color: #01f8fd;
    background-color: #2e269a;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.quoteClass {
    width: 400px;
    max-width: 400px;
    background-color: #2e269a;
    color: white;
    padding: 0px 8px 0px 8px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    margin-left: -0%;
    font-size: 16px;
    font-family: Rw-title;
    border-radius: 12px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

@media only screen and (min-width: 768px) {
    .gameName {
        width: 640px;
    }
    .quoteClass {
        font-size: 20px;
        width: 640px;
        max-width: 640px;
    }
}

.topSquare {
    background-color: #2e269a;
    color: #01f8fd;
    margin-left: auto;
    margin-right: auto;
    font-family: Rw-title;
}

@media only screen and (min-width: 768px) {
    .topSquare {
        max-width: 60%;
    }
}

.clickButton {
    background-color: white;
    background: linear-gradient(to left, #1db5bf, #2e269a);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    color: white;
    border-color: #2e269a;
    border-width: 6px;
    border-radius: 9px;
    font-size: 24px;
    font-family: Rw-title;
    min-height: 52px;
    margin-top: 4px;
}

@media only screen and (min-width: 768px) {
    .clickButton {
        min-height: auto;
    }
}

.clickButton:hover {
    filter: brightness(120%);
}

.currency {
    width: 32px;
    height: 32px;
    position: relative;
    bottom: -8px;
    margin-bottom: 4px;
    margin-top: -8px;
}

.inlineCurrency {
    width: 1em;
    height: 1em;
    position: relative;
    bottom: -0.25em;
}

/* ===================================================== */
/* UPGRADES */
/* ===================================================== */
/* this contains the upgrade buttons */
.upgradesContainer {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
}

.upgradeButtons {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-basis: 22px;
    vertical-align: top;
}

/* this is for a the upgrade buttons, the buttons inside the upgrades, such as MAX */
.maxButton {
    width: 32%;
    height: 20px;
    margin: 0px 1px 1px 1px;
    border: 2px solid rgb(120, 120, 120);
    background-color: rgb(160, 160, 160, 0.7);
    font-weight: bold;
    color: black;
    font-family: Rw-title;
}

/* an upgrade (like More Shgabb) */
.upgrade {
    text-align: center;
    padding-top: 0px;
    margin: 0px 2px 4px 2px;
    border: 4px solid;
    border-radius: 12px;
    width: 48%;
    min-height: 98px;
    font-family: Rw;
    font-size: 12px;
}

    .upgrade:hover {
        filter: brightness(90%);
        transition: 0.2s;
    }

    .upgrade:active {
        filter: brightness(80%);
    }

@media only screen and (min-width: 768px) {
    .upgrade {
        width: 32%;
        font-size: 14px;
    }
}

@media only screen and (min-width: 1280px) {
    .upgrade {
        width: 24%;
        font-size: 16px;
    }
}

.upgradeHeader {
    font-size: 14px;
    font-family: Rw-title;
}

@media only screen and (min-width: 768px) {
    .upgradeHeader {
        font-size: 20px;
    }
}

.prestigeButton {
    /* background-color: palegoldenrod; */
    background-image: url("../images/prestigebutton.png");
    background-size: 100% 100%;
    padding: 0px 16% 0px 16%;
    border: 3px solid gold;
    font-size: 18px;
    min-height: 120px;
}

.ameliorerButton {
    width: 24%;
    min-height: 48px;
    color: rgb(240, 240, 255);
}

.bananaButton {
    background-color: rgb(40, 165, 0);
    background-image: url("../images/texture-grass.png");
    background-size: 100%;
    color: rgb(8, 8, 8);
    border: 2px solid;
    border-color: rgb(20, 135, 0);
    border-radius: 9px;
    margin: 8px 4px 8px 4px;
    padding: 4px 0px 4px 0px;
    text-align: center;
    font-size: 20px;
    font-family: Rw;
    min-width: 40%;
    max-width: 92%;
}

    .bananaButton:hover {
        filter: brightness(120%);
        transition: 0.3s;
    }
    
.witchButton {
    background-color: rgb(8, 8, 8);
    background-image: url("../images/texture-witch.png");
    background-size: 100%;
    color: white;
    border: 2px solid;
    border-color: rgb(40, 20, 60);
    border-radius: 12px;
    margin: 4px 2px 4px 2px;
    padding: 6px 0px 2px 0px;
    width: 420px;
}

    .witchButton:hover {
        filter: brightness(120%);
        transition: 0.3s;
    }

.generatorButton {
    background-image: url("../images/texture-generators.png");
    background-size: 100%;
    border: 4px solid;
    border-color: #6F250E;
    border-radius: 4px;
    margin: 4px 4px 4px 4px;
    font-size: 16px;
    text-align: center;
    font-family: Rw;
    color: black;
}

/* ===================================================== */
/* GEMS / ARTIFACTS / CHALLENGES / MINIGAMES */
/* ===================================================== */
.artifact {
    text-align: center;
    margin: 1px 1px 1px 1px;
    border: 4px ridge pink;
    border-radius: 6px;
    height: 160px;
    width: 32%;
    vertical-align: top;
    font-family: Rw;
    position: sticky;
}

    .artifact:hover {
        filter: brightness(90%);
        transition: 0.2s;
    }

    .artifact:active {
        filter: brightness(80%);
    }

@media only screen and (min-width: 768px) {
    .artifact {
        width: 19%;
    }
}
@media only screen and (min-width: 1440px) {
    .artifact {
        width: 9.5%;
    }
}

.artifactLoadoutButton {
    width: 15%;
    height: 32px;
    white-space: nowrap;
    font-family: Rw;
}


.challenge {
    text-align: center;
    margin: 0px 0px 0px 0px;
    border: 4px ridge white;
    width: 50%;
    color: black;
    background-color: rgb(200, 200, 200);
    min-height: 220px;
    vertical-align: top;
    font-family: Rw;
    position: sticky;
}

    .challenge:hover {
        filter: brightness(90%);
        transition: 0.2s;
    }

    .challenge:active {
        filter: brightness(80%);
    }

.chineseOffer {
    text-align: center;
    margin: 0px 2px 4px 2px;
    border: 4px solid gold;
    min-width: 200px;
    min-height: 98px;
    font-family: Rw-title;
    vertical-align: top;

    color: gold;
    background-color: red;
    font-size: 20px;
}

    .chineseOffer:hover {
        filter: brightness(90%);
        transition: 0.2s;
    }

    .chineseOffer:active {
        filter: brightness(80%);
    }

/* ===================================================== */
/* STATS / ACHIEVEMENTS / SOCIAL */
/* ===================================================== */

/* sq1 social sq2 stats apparently */
.square {
    background-color: rgb(128, 128, 128, 0.7);
    border-color: black;
    border: 2px solid burlywood;
}

.square2 {
    background-color: rgb(128, 128, 128, 0.7);
    font-size: 18px;
}

.socialHr {
    color: purple;
    height: 2px;
}

.socialContainerSquare {
    background-color: rgb(128, 128, 156, 0.8);
    border: 2px solid purple;
    text-align: left;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .socialContainerSquare {
        float: left;
        text-align: right;
        width: 49%;
    }
}

.patchNotesContainerSquare {
    background-color: rgb(128, 128, 156, 0.8);
    border: 2px solid purple;
    text-align: left;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .patchNotesContainerSquare {
        float: right;
        text-align: left;
        width: 49%;
        margin-left: auto;
    }
}

.grayButton {
    background-color: rgb(200, 200, 200);
    color: rgb(8, 8, 8);
    border: 3px solid;
    border-color: rgb(175, 175, 175);
    border-radius: 6px;
    margin: 0px 2px 0px 2px;
    font-size: 18px;
    text-align: center;
    font-family: Rw;
}

    .grayButton:hover {
        filter: brightness(120%);
        transition: 0.3s;
    }

.settingButton, .settingButton2 {
    background-color: rgb(20, 20, 30);
    color: rgb(240, 240, 255);
    border: 4px solid rgb(40, 40, 60);
    border-radius: 12px;
    font-size: 24px;
    text-align: center;
    font-family: Rw;
    margin: 2px 2px 2px 2px;
    padding: 4px 8px 4px 8px;
    width: 48%;
    vertical-align: top;
}

    .settingButton:hover {
        filter: brightness(60%);
        transition: 0.2s;
    }

.settingButton2 {
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
    .settingButton {
        width: 24%;
    }
}

.playerProfile {
    width: 98%;
    text-align: center;
    position: sticky;
}

@media only screen and (min-width: 768px) {
    .playerProfile {
        width: 86%;
    }
}

@media only screen and (min-width: 1280px) {
    .playerProfile {
        width: 74%;
    }
}

.cake {
    width: 50%;
    max-width: 256px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shbookClass {
    background-color: #AFC3D6;
    color: #2e269a;
    border: 4px solid black;
    font-size: 20px;
    text-align: center;
    font-family: Rw-title;
}

    .shbookClass:hover {
        filter: brightness(80%) contrast(120%);
        transition: 0.3s;
    }

.missionStep {
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    margin: 0px 3px 4px 3px;
}